.nome-andressa
.idade-andressa
.objetivo-andressa {   
    height: 30px;
    width: 500px;
}
.nome-rafael
.idade-rafael
.objetivo-rafael  {   
    height: 30px;
    width: 500px;
}
.nome-gustavo
.idade-gustavo
.objetivo-gustavo {
    height: 30px;
    width: 500px;
}
.nome-guilherme
.idade-guilherme
.objetivo-guilherme {
    height: 30px;
    width: 500px;
}
.nome-andreza
.idade-andreza
.objetivo-andreza {
    height: 30px;
    width: 500px;
}
