.nome-andressa
.idade-andressa
.objetivo-andressa {   
    height: 30px;
    width: 500px;
}
.nome-rafael
.idade-rafael
.objetivo-rafael  {   
    height: 30px;
    width: 500px;
}
.nome-gustavo
.idade-gustavo
.objetivo-gustavo {
    height: 30px;
    width: 500px;
}
.nome-guilherme
.idade-guilherme
.objetivo-guilherme {
    height: 30px;
    width: 500px;
}
.nome-andreza
.idade-andreza
.objetivo-andreza {
    height: 30px;
    width: 500px;
}
.nome-gabriel
.idade-gabriel
.objetivo-gabriel {   
    height: 30px;
    width: 500px;
}
.nome-livia
.idade-livia
.objetivo-livia {  
    height: 30px;
    width: 500px;
}  
.nome-laurytha
.idade-laurytha
.objetivo-laurytha {
    height: 30px;
    width: 500px;
}  
.nome-lucas
.idade-lucas
.objetivo-lucas {
    height: 30px;
    width: 500px;
}  
.nome-betoneira
.idade-betoneira
.objetivo-betoneira {
    height: 30px;
    width: 500px;
}
